{"swagger":"2.0","info":{"title":"Gwent API","description":"A consumption-only API of all Gwent data","contact":{"name":"Tristan S.","email":"api.gwent@gmail.com","url":"https://twitter.com/GwentAPI"},"license":{"name":"The textual information presented through this API about GWENT: The Witcher Card Game is copyrighted by CD Projekt RED"},"version":"0.1"},"host":"api.gwentapi.com","basePath":"/","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json"],"paths":{"/v0":{"get":{"tags":["phonebook"],"summary":"show phonebook","description":"Listing of all supported resources endpoint","operationId":"phonebook#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/v0/cards":{"get":{"tags":["card"],"summary":"list card","description":"Return a page of cards.","operationId":"card#list","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/factions/{factionID}":{"get":{"tags":["card"],"summary":"cardFaction card","description":"Return all cards with given faction id.","operationId":"card#cardFaction","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/leaders":{"get":{"tags":["card"],"summary":"cardLeader card","description":"Return all leader cards.","operationId":"card#cardLeader","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/rarities/{rarityID}":{"get":{"tags":["card"],"summary":"cardRarity card","description":"Return all cards with given rarity id.","operationId":"card#cardRarity","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"},{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}":{"get":{"tags":["card"],"summary":"show card","description":"Return card with given id.","operationId":"card#show","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/artworks":{"get":{"tags":["card"],"summary":"cardArtworks card","description":"Return artwork with given id.","operationId":"card#cardArtworks","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiArtwork"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions":{"get":{"tags":["faction"],"summary":"list faction","description":"Return all factions.","operationId":"faction#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFactionCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions/{factionID}":{"get":{"tags":["faction"],"summary":"show faction","description":"Return faction with given id.","operationId":"faction#show","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFaction"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/glyphs":{"get":{"tags":["glyph"],"summary":"list glyph","description":"Return all glyphs.","operationId":"glyph#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyphCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/glyphs/{glyphID}":{"get":{"tags":["glyph"],"summary":"show glyph","description":"Return glyph with given id.","operationId":"glyph#show","parameters":[{"name":"glyphID","in":"path","description":"Glyph ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyph"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches":{"get":{"tags":["patch"],"summary":"list patch","description":"Return all patches.","operationId":"patch#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatchCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches/latest":{"get":{"tags":["patch"],"summary":"latest patch","description":"Return latest patch.","operationId":"patch#latest","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches/{patchID}":{"get":{"tags":["patch"],"summary":"show patch","description":"Return patch with given id.","operationId":"patch#show","parameters":[{"name":"patchID","in":"path","description":"Patch ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities":{"get":{"tags":["rarity"],"summary":"list rarity","description":"Return all rarities.","operationId":"rarity#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarityCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities/{rarityID}":{"get":{"tags":["rarity"],"summary":"show rarity","description":"Return rarity with given id.","operationId":"rarity#show","parameters":[{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarity"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/types":{"get":{"tags":["type"],"summary":"list type","description":"Return all card types.","operationId":"type#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiTypeCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/types/{typeID}":{"get":{"tags":["type"],"summary":"show type","description":"Return card type with given id.","operationId":"type#show","parameters":[{"name":"typeID","in":"path","description":"Card type ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiType"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"GwentapiArtwork":{"title":"Mediatype identifier: application/vnd.gwentapi.artwork+json; view=default","type":"object","properties":{"alternatives":{"type":"array","items":{"$ref":"#/definitions/artworkType"},"description":"Alternatives artwork for the card","example":[{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."},{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."}]},"artwork":{"$ref":"#/definitions/artworkType"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"Consequatur quod repudiandae."},"id":{"type":"string","description":"Unique artwork ID","example":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."}},"description":"Artwork for a card (default view)","example":{"alternatives":[{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."},{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."}],"artwork":{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."},"href":"Consequatur quod repudiandae.","id":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."},"required":["id","href","artwork"]},"GwentapiArtworkLink":{"title":"Mediatype identifier: application/vnd.gwentapi.artwork+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the artwork","example":"Consequatur quod repudiandae."}},"description":"Artwork for a card (link view)","example":{"href":"Consequatur quod repudiandae."},"required":["href"]},"GwentapiCard":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=default","type":"object","properties":{"artwork":{"$ref":"#/definitions/GwentapiArtworkLink"},"faction":{"$ref":"#/definitions/GwentapiFactionLink"},"flavor":{"type":"string","description":"Flavor text of the card","example":"Saepe illum voluptas unde."},"href":{"type":"string","description":"API href for making requests on the card","example":"In quo tenetur recusandae."},"id":{"type":"string","description":"Unique card ID","example":"Rerum repellendus."},"name":{"type":"string","description":"Name of the card","example":"Eum itaque perspiciatis est quia."},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"},"rows":{"type":"array","items":{"type":"string","example":"Quibusdam et accusamus."},"description":"Rows where the card can be played","example":["Quibusdam et accusamus.","Quibusdam et accusamus."]},"strength":{"type":"integer","description":"Strength of the card","example":6500041798329438505,"format":"int64"},"subtypes":{"$ref":"#/definitions/GwentapiTypeLinkCollection"},"text":{"type":"string","description":"Text of the card detailing its abilities and how it plays","example":"Quia adipisci impedit quidem."},"type":{"$ref":"#/definitions/GwentapiTypeLink"}},"description":"A card (default view)","example":{"artwork":{"href":"Consequatur quod repudiandae."},"faction":{"href":"Qui ipsam ut dolor.","name":"Et pariatur et quam facilis facere."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Enim dolor necessitatibus expedita.","name":"Quisquam voluptate doloribus praesentium."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}},"required":["id","href","name","type","faction","rarity"]},"GwentapiCardLink":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the card","example":"In quo tenetur recusandae."},"name":{"type":"string","description":"Name of the card","example":"Eum itaque perspiciatis est quia."}},"description":"A card (link view)","example":{"href":"In quo tenetur recusandae.","name":"Eum itaque perspiciatis est quia."},"required":["href","name"]},"GwentapiCardLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCardLink"},"description":"GwentapiCardLinkCollection is the media type for an array of GwentapiCardLink (default view)","example":[{"artwork":{"href":"Consequatur quod repudiandae."},"faction":{"href":"Qui ipsam ut dolor.","name":"Et pariatur et quam facilis facere."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Enim dolor necessitatibus expedita.","name":"Quisquam voluptate doloribus praesentium."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}},{"artwork":{"href":"Consequatur quod repudiandae."},"faction":{"href":"Qui ipsam ut dolor.","name":"Et pariatur et quam facilis facere."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Enim dolor necessitatibus expedita.","name":"Quisquam voluptate doloribus praesentium."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}}]},"GwentapiFaction":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Architecto saepe quod aperiam."},"id":{"type":"string","description":"Unique faction ID","example":"Vitae magnam ducimus molestiae omnis ratione id."},"name":{"type":"string","description":"Name of the faction","example":"Aperiam architecto nobis voluptatem."}},"description":"A card faction (default view)","example":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"required":["id","href","name"]},"GwentapiFactionCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiFaction"},"description":"GwentapiFactionCollection is the media type for an array of GwentapiFaction (default view)","example":[{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."}]},"GwentapiFactionLink":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Qui ipsam ut dolor."},"name":{"type":"string","description":"Name of the faction","example":"Et pariatur et quam facilis facere."}},"description":"A card faction (link view)","example":{"href":"Qui ipsam ut dolor.","name":"Et pariatur et quam facilis facere."},"required":["href","name"]},"GwentapiGlyph":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the glyph","example":"Placeat aperiam atque iure."},"id":{"type":"string","description":"Unique glyph ID","example":"Est dicta."},"isWeatherGlyph":{"type":"boolean","description":"Indicate whether or not the glyph is a weather glyph","example":false},"name":{"type":"string","description":"Name of the glyph","example":"Deserunt eum similique adipisci magni pariatur consequatur."},"text":{"type":"string","description":"Text of the glyph","example":"Vel earum est."}},"description":"A glyph (default view)","example":{"href":"Placeat aperiam atque iure.","id":"Est dicta.","isWeatherGlyph":false,"name":"Deserunt eum similique adipisci magni pariatur consequatur.","text":"Vel earum est."},"required":["id","href","name","isWeatherGlyph","text"]},"GwentapiGlyphCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiGlyph"},"description":"GwentapiGlyphCollection is the media type for an array of GwentapiGlyph (default view)","example":[{"href":"Placeat aperiam atque iure.","id":"Est dicta.","isWeatherGlyph":false,"name":"Deserunt eum similique adipisci magni pariatur consequatur.","text":"Vel earum est."}]},"GwentapiPagecard":{"title":"Mediatype identifier: application/vnd.gwentapi.pagecard+json; view=default","type":"object","properties":{"count":{"type":"integer","description":"Total number of cards stored in the database","example":7687204167567408441,"format":"int64"},"next":{"type":"string","description":"Href to the next page","example":"Sit atque ad aut et dolorem."},"previous":{"type":"string","description":"Href to the previous page","example":"Voluptas earum veritatis et."},"results":{"$ref":"#/definitions/GwentapiCardLinkCollection"}},"description":"Paginated card (default view)","example":{"count":7687204167567408441,"next":"Sit atque ad aut et dolorem.","previous":"Voluptas earum veritatis et.","results":[{"href":"In quo tenetur recusandae.","name":"Eum itaque perspiciatis est quia."},{"href":"In quo tenetur recusandae.","name":"Eum itaque perspiciatis est quia."},{"href":"In quo tenetur recusandae.","name":"Eum itaque perspiciatis est quia."}]},"required":["count","results"]},"GwentapiPatch":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the patch","example":"Perspiciatis explicabo neque repellat."},"id":{"type":"string","description":"Unique Patch ID","example":"Recusandae at."},"releaseDate":{"type":"string","description":"Release date of the patch","example":"1981-03-05T06:48:07-05:00","format":"date-time"},"version":{"type":"string","description":"Patch version","example":"Voluptatum nostrum."}},"description":"A game patch (default view)","example":{"href":"Perspiciatis explicabo neque repellat.","id":"Recusandae at.","releaseDate":"1981-03-05T06:48:07-05:00","version":"Voluptatum nostrum."},"required":["id","href","version","releaseDate"]},"GwentapiPatchCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiPatch"},"description":"GwentapiPatchCollection is the media type for an array of GwentapiPatch (default view)","example":[{"href":"Perspiciatis explicabo neque repellat.","id":"Recusandae at.","releaseDate":"1981-03-05T06:48:07-05:00","version":"Voluptatum nostrum."},{"href":"Perspiciatis explicabo neque repellat.","id":"Recusandae at.","releaseDate":"1981-03-05T06:48:07-05:00","version":"Voluptatum nostrum."}]},"GwentapiRarity":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Aperiam deleniti qui aperiam."},"id":{"type":"string","description":"Unique rarity ID","example":"Eveniet velit nihil totam quia quidem."},"name":{"type":"string","description":"Name of the rarity","example":"Laboriosam nobis excepturi dolorum quia."}},"description":"A card rarity (default view)","example":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"required":["id","href","name"]},"GwentapiRarityCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiRarity"},"description":"GwentapiRarityCollection is the media type for an array of GwentapiRarity (default view)","example":[{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."}]},"GwentapiRarityLink":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Enim dolor necessitatibus expedita."},"name":{"type":"string","description":"Name of the rarity","example":"Quisquam voluptate doloribus praesentium."}},"description":"A card rarity (link view)","example":{"href":"Enim dolor necessitatibus expedita.","name":"Quisquam voluptate doloribus praesentium."},"required":["href","name"]},"GwentapiResource":{"title":"Mediatype identifier: application/vnd.gwentapi.resource+json; view=default","type":"object","properties":{"cards":{"type":"string","description":"API href for making requests on cards","example":"Debitis veritatis doloribus est asperiores sequi."},"factions":{"type":"string","description":"API href for making requests on factions","example":"Rerum dolores totam dignissimos modi praesentium deleniti."},"glyphs":{"type":"string","description":"API href for making requests on glyphs","example":"Voluptate est voluptas illo eum rerum et."},"patches":{"type":"string","description":"API href for making requests on patches","example":"Dolor possimus ut et veniam."},"rarities":{"type":"string","description":"API href for making requests on rarities","example":"Sed sed eveniet est quisquam."},"types":{"type":"string","description":"API href for making requests on types","example":"Qui eius aut amet dolorem at."}},"description":"Listing of all available resource endpoint (default view)","example":{"cards":"Debitis veritatis doloribus est asperiores sequi.","factions":"Rerum dolores totam dignissimos modi praesentium deleniti.","glyphs":"Voluptate est voluptas illo eum rerum et.","patches":"Dolor possimus ut et veniam.","rarities":"Sed sed eveniet est quisquam.","types":"Qui eius aut amet dolorem at."},"required":["cards","factions","glyphs","rarities","types","patches"]},"GwentapiType":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Dignissimos nemo nemo autem voluptatem."},"id":{"type":"string","description":"Unique type ID","example":"Laudantium eum sequi."},"name":{"type":"string","description":"Name of the type","example":"Voluptatum rerum natus rerum est earum sit."}},"description":"A card type (default view)","example":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."},"required":["id","href","name"]},"GwentapiTypeCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiType"},"description":"GwentapiTypeCollection is the media type for an array of GwentapiType (default view)","example":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}]},"GwentapiTypeLink":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Qui aut omnis error."},"name":{"type":"string","description":"Name of the type","example":"Sed pariatur ut debitis qui."}},"description":"A card type (link view)","example":{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},"required":["href","name"]},"GwentapiTypeLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiTypeLink"},"description":"GwentapiTypeLinkCollection is the media type for an array of GwentapiTypeLink (default view)","example":[{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."},{"href":"Qui aut omnis error.","name":"Sed pariatur ut debitis qui."}]},"artworkType":{"title":"artworkType","type":"object","properties":{"artist":{"type":"string","description":"Name of the artist","example":"Et non ipsum veritatis occaecati."},"full_size":{"type":"string","description":"Href to full size artwork","example":"Quia fugiat culpa."},"normal_size":{"type":"string","description":"Href to normal size artwork","example":"Consequatur necessitatibus aut rerum expedita impedit architecto."}},"description":"Type of card artwork","example":{"artist":"Et non ipsum veritatis occaecati.","full_size":"Quia fugiat culpa.","normal_size":"Consequatur necessitatibus aut rerum expedita impedit architecto."},"required":["normal_size"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}}}}