{"swagger":"2.0","info":{"title":"Gwent API","description":"A consumption-only API of all Gwent data","contact":{"name":"Tristan S.","email":"api.gwent@gmail.com","url":"https://twitter.com/GwentAPI"},"license":{"name":"The textual information presented through this API about GWENT: The Witcher Card Game is copyrighted by CD Projekt RED"},"version":"0.9.1"},"host":"api.gwentapi.com","basePath":"/","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json"],"paths":{"/v0":{"get":{"tags":["index"],"summary":"show index","description":"Listing of all supported resources endpoint","operationId":"index#show","produces":["application/vnd.gwentapi.resource+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/v0/cards":{"get":{"tags":["card"],"summary":"list card","description":"Return a page of cards.","operationId":"card#list","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"name","in":"query","description":"Query to search for cards with the name starting by the entered value","required":false,"type":"string","maxLength":100,"minLength":3},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/factions/{factionID}":{"get":{"tags":["card"],"summary":"cardFaction card","description":"Return all cards with given faction id.","operationId":"card#cardFaction","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/leaders":{"get":{"tags":["card"],"summary":"cardLeader card","description":"Return all leader cards.","operationId":"card#cardLeader","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}":{"get":{"tags":["card"],"summary":"show card","description":"Return card with given id.","operationId":"card#show","produces":["application/vnd.gwentapi.card+json"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/variations":{"get":{"tags":["card"],"summary":"cardVariations card","description":"Return the variations of a card with the given id.","operationId":"card#cardVariations","produces":["application/vnd.gwentapi.variation+json; type=collection"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiVariationCollection"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/variations/{variationID}":{"get":{"tags":["card"],"summary":"cardVariation card","description":"Return the variation of a given id of a card with the given id.","operationId":"card#cardVariation","produces":["application/vnd.gwentapi.variation+json"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"variationID","in":"path","description":"Variation ID","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiVariation"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/categories":{"get":{"tags":["category"],"summary":"list category","description":"Return all card categories.","operationId":"category#list","produces":["application/vnd.gwentapi.category+json; type=collection"],"parameters":[{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCategoryCollection"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/categories/{categoryID}":{"get":{"tags":["category"],"summary":"show category","description":"Return card category with given id.","operationId":"category#show","produces":["application/vnd.gwentapi.category+json"],"parameters":[{"name":"categoryID","in":"path","description":"Card category ID","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCategory"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions":{"get":{"tags":["faction"],"summary":"list faction","description":"Return all factions.","operationId":"faction#list","produces":["application/vnd.gwentapi.faction+json; type=collection"],"parameters":[{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFactionCollection"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions/{factionID}":{"get":{"tags":["faction"],"summary":"show faction","description":"Return faction with given id.","operationId":"faction#show","produces":["application/vnd.gwentapi.faction+json"],"parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFaction"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/groups":{"get":{"tags":["group"],"summary":"list group","description":"Return all card groups.","operationId":"group#list","produces":["application/vnd.gwentapi.group+json; type=collection"],"parameters":[{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGroupCollection"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/groups/{groupID}":{"get":{"tags":["group"],"summary":"show group","description":"Return card group with given id.","operationId":"group#show","produces":["application/vnd.gwentapi.group+json"],"parameters":[{"name":"groupID","in":"path","description":"Card group ID","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGroup"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities":{"get":{"tags":["rarity"],"summary":"list rarity","description":"Return all rarities.","operationId":"rarity#list","produces":["application/vnd.gwentapi.rarity+json; type=collection"],"parameters":[{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarityCollection"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities/{rarityID}":{"get":{"tags":["rarity"],"summary":"show rarity","description":"Return rarity with given id.","operationId":"rarity#show","produces":["application/vnd.gwentapi.rarity+json"],"parameters":[{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"},{"name":"If-Modified-Since","in":"header","description":"DateTime in RFC1123 format.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarity"},"headers":{"Last-Modified":{"description":"DateTime in RFC1123 format.","type":"string"}}},"304":{"description":"Not Modified"},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"GwentapiCard":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=default","type":"object","properties":{"categories":{"$ref":"#/definitions/GwentapiCategoryLinkCollection"},"faction":{"$ref":"#/definitions/GwentapiFactionLink"},"flavor":{"type":"string","description":"Flavor text of the card","example":"Ugly – Nature's Way of saying stay away."},"group":{"$ref":"#/definitions/GwentapiGroupLink"},"href":{"type":"string","description":"API href for making requests on the card","example":"http://koch.org/ashtyn.schaden","format":"uri"},"info":{"type":"string","description":"Text of the card detailing its abilities and how it plays","example":"Deploy: Play all Arachasae from your Deck."},"name":{"type":"string","description":"Name of the card","example":"Arachas"},"positions":{"type":"array","items":{"type":"string","example":"Sint dolor laboriosam veniam doloribus."},"description":"Positions where the card can be played","example":["Ranged"]},"strength":{"type":"integer","description":"Strength of the card","example":3,"format":"int64"},"uuid":{"type":"string","description":"Unique card UUID","example":"oe6UPiaDSNyI-630fYz4LA"},"variations":{"$ref":"#/definitions/GwentapiVariationLinkCollection"}},"description":"A card (default view)","example":{"categories":[{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"}],"faction":{"href":"http://pricecruickshank.net/alan.corwin","name":"Monster"},"flavor":"Ugly – Nature's Way of saying stay away.","group":{"href":"http://harris.biz/jamison","name":"Bronze"},"href":"http://koch.org/ashtyn.schaden","info":"Deploy: Play all Arachasae from your Deck.","name":"Arachas","positions":["Ranged"],"strength":3,"uuid":"oe6UPiaDSNyI-630fYz4LA","variations":[{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}}]},"required":["uuid","href","name","group","faction","variations"]},"GwentapiCardLink":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the card","example":"http://koch.org/ashtyn.schaden","format":"uri"},"name":{"type":"string","description":"Name of the card","example":"Arachas"}},"description":"A card (link view)","example":{"href":"http://koch.org/ashtyn.schaden","name":"Arachas"},"required":["href","name"]},"GwentapiCardLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCardLink"},"description":"GwentapiCardLinkCollection is the media type for an array of GwentapiCardLink (default view)","example":[{"categories":[{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"}],"faction":{"href":"http://pricecruickshank.net/alan.corwin","name":"Monster"},"flavor":"Ugly – Nature's Way of saying stay away.","group":{"href":"http://harris.biz/jamison","name":"Bronze"},"href":"http://koch.org/ashtyn.schaden","info":"Deploy: Play all Arachasae from your Deck.","name":"Arachas","positions":["Ranged"],"strength":3,"uuid":"oe6UPiaDSNyI-630fYz4LA","variations":[{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}}]},{"categories":[{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"}],"faction":{"href":"http://pricecruickshank.net/alan.corwin","name":"Monster"},"flavor":"Ugly – Nature's Way of saying stay away.","group":{"href":"http://harris.biz/jamison","name":"Bronze"},"href":"http://koch.org/ashtyn.schaden","info":"Deploy: Play all Arachasae from your Deck.","name":"Arachas","positions":["Ranged"],"strength":3,"uuid":"oe6UPiaDSNyI-630fYz4LA","variations":[{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}}]},{"categories":[{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"}],"faction":{"href":"http://pricecruickshank.net/alan.corwin","name":"Monster"},"flavor":"Ugly – Nature's Way of saying stay away.","group":{"href":"http://harris.biz/jamison","name":"Bronze"},"href":"http://koch.org/ashtyn.schaden","info":"Deploy: Play all Arachasae from your Deck.","name":"Arachas","positions":["Ranged"],"strength":3,"uuid":"oe6UPiaDSNyI-630fYz4LA","variations":[{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}}]}]},"GwentapiCategory":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the category","example":"http://feeney.name/julian","format":"uri"},"name":{"type":"string","description":"Name of the category","example":"Insectoid"},"uuid":{"type":"string","description":"Unique category UUID","example":"0PcjdpZ6QR2NKutLFGx-oQ"}},"description":"A card category (default view)","example":{"href":"http://feeney.name/julian","name":"Insectoid","uuid":"0PcjdpZ6QR2NKutLFGx-oQ"},"required":["uuid","href","name"]},"GwentapiCategoryCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCategory"},"description":"GwentapiCategoryCollection is the media type for an array of GwentapiCategory (default view)","example":[{"href":"http://feeney.name/julian","name":"Insectoid","uuid":"0PcjdpZ6QR2NKutLFGx-oQ"},{"href":"http://feeney.name/julian","name":"Insectoid","uuid":"0PcjdpZ6QR2NKutLFGx-oQ"},{"href":"http://feeney.name/julian","name":"Insectoid","uuid":"0PcjdpZ6QR2NKutLFGx-oQ"}]},"GwentapiCategoryLink":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the category","example":"http://klocko.com/beulah_mcclure","format":"uri"},"name":{"type":"string","description":"Name of the category","example":"Insectoid"}},"description":"A card category (link view)","example":{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},"required":["href","name"]},"GwentapiCategoryLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCategoryLink"},"description":"GwentapiCategoryLinkCollection is the media type for an array of GwentapiCategoryLink (default view)","example":[{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"},{"href":"http://klocko.com/beulah_mcclure","name":"Insectoid"}]},"GwentapiFaction":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"http://pfannerstillkuhic.name/mozelle.o'reilly","format":"uri"},"name":{"type":"string","description":"Name of the faction","example":"Monster"},"uuid":{"type":"string","description":"Unique faction UUID","example":"9wM9vGWiRzCvEwSLnLfY1w"}},"description":"A card faction (default view)","example":{"href":"http://pfannerstillkuhic.name/mozelle.o'reilly","name":"Monster","uuid":"9wM9vGWiRzCvEwSLnLfY1w"},"required":["uuid","href","name"]},"GwentapiFactionCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiFaction"},"description":"GwentapiFactionCollection is the media type for an array of GwentapiFaction (default view)","example":[{"href":"http://pfannerstillkuhic.name/mozelle.o'reilly","name":"Monster","uuid":"9wM9vGWiRzCvEwSLnLfY1w"},{"href":"http://pfannerstillkuhic.name/mozelle.o'reilly","name":"Monster","uuid":"9wM9vGWiRzCvEwSLnLfY1w"},{"href":"http://pfannerstillkuhic.name/mozelle.o'reilly","name":"Monster","uuid":"9wM9vGWiRzCvEwSLnLfY1w"}]},"GwentapiFactionLink":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"http://pricecruickshank.net/alan.corwin","format":"uri"},"name":{"type":"string","description":"Name of the faction","example":"Monster"}},"description":"A card faction (link view)","example":{"href":"http://pricecruickshank.net/alan.corwin","name":"Monster"},"required":["href","name"]},"GwentapiGroup":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the group","example":"http://bogan.name/abbey","format":"uri"},"name":{"type":"string","description":"Name of the group","example":"Bronze"},"uuid":{"type":"string","description":"Unique group UUID","example":"GbmwHbkcQniDKJq6rKz-bQ"}},"description":"A card group (default view)","example":{"href":"http://bogan.name/abbey","name":"Bronze","uuid":"GbmwHbkcQniDKJq6rKz-bQ"},"required":["uuid","href","name"]},"GwentapiGroupCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiGroup"},"description":"GwentapiGroupCollection is the media type for an array of GwentapiGroup (default view)","example":[{"href":"http://bogan.name/abbey","name":"Bronze","uuid":"GbmwHbkcQniDKJq6rKz-bQ"},{"href":"http://bogan.name/abbey","name":"Bronze","uuid":"GbmwHbkcQniDKJq6rKz-bQ"},{"href":"http://bogan.name/abbey","name":"Bronze","uuid":"GbmwHbkcQniDKJq6rKz-bQ"}]},"GwentapiGroupLink":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the group","example":"http://harris.biz/jamison","format":"uri"},"name":{"type":"string","description":"Name of the group","example":"Bronze"}},"description":"A card group (link view)","example":{"href":"http://harris.biz/jamison","name":"Bronze"},"required":["href","name"]},"GwentapiPagecard":{"title":"Mediatype identifier: application/vnd.gwentapi.pagecard+json; view=default","type":"object","properties":{"count":{"type":"integer","description":"Total number of cards stored in the database","example":280,"format":"int64"},"next":{"type":"string","description":"Href to the next page","example":"http://ferryhaag.name/oran","format":"uri"},"previous":{"type":"string","description":"Href to the previous page","example":"http://steuber.biz/berenice","format":"uri"},"results":{"$ref":"#/definitions/GwentapiCardLinkCollection"}},"description":"Paginated card (default view)","example":{"count":280,"next":"http://ferryhaag.name/oran","previous":"http://steuber.biz/berenice","results":[{"href":"http://koch.org/ashtyn.schaden","name":"Arachas"}]},"required":["count","results"]},"GwentapiRarity":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"http://hudson.org/adrianna_leffler","format":"uri"},"name":{"type":"string","description":"Name of the rarity","example":"Common"},"uuid":{"type":"string","description":"Unique rarity UUID","example":"TPCvIPOjRjO0s7Jfeo1NtA"}},"description":"A card rarity (default view)","example":{"href":"http://hudson.org/adrianna_leffler","name":"Common","uuid":"TPCvIPOjRjO0s7Jfeo1NtA"},"required":["uuid","href","name"]},"GwentapiRarityCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiRarity"},"description":"GwentapiRarityCollection is the media type for an array of GwentapiRarity (default view)","example":[{"href":"http://hudson.org/adrianna_leffler","name":"Common","uuid":"TPCvIPOjRjO0s7Jfeo1NtA"},{"href":"http://hudson.org/adrianna_leffler","name":"Common","uuid":"TPCvIPOjRjO0s7Jfeo1NtA"},{"href":"http://hudson.org/adrianna_leffler","name":"Common","uuid":"TPCvIPOjRjO0s7Jfeo1NtA"}]},"GwentapiRarityLink":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"http://kilbackemard.info/marvin","format":"uri"},"name":{"type":"string","description":"Name of the rarity","example":"Common"}},"description":"A card rarity (link view)","example":{"href":"http://kilbackemard.info/marvin","name":"Common"},"required":["href","name"]},"GwentapiResource":{"title":"Mediatype identifier: application/vnd.gwentapi.resource+json; view=default","type":"object","properties":{"cards":{"type":"string","description":"API href for making requests on cards","example":"http://orn.info/samson","format":"uri"},"categories":{"type":"string","description":"API href for making requests on categories","example":"http://mann.name/makenzie","format":"uri"},"factions":{"type":"string","description":"API href for making requests on factions","example":"http://ondricka.net/valentin","format":"uri"},"groups":{"type":"string","description":"API href for making requests on groups","example":"http://schowalter.info/gregory.ward","format":"uri"},"rarities":{"type":"string","description":"API href for making requests on rarities","example":"http://towne.org/ayden","format":"uri"},"swagger":{"type":"string","description":"Href linking to the swagger definition","example":"http://oconnell.org/keyshawn","format":"uri"},"version":{"type":"string","description":"Semver of the software that is currently running","example":"v0.5.5-rc.2"}},"description":"Listing of all available resource endpoint and a link to the api definition (default view)","example":{"cards":"http://orn.info/samson","categories":"http://mann.name/makenzie","factions":"http://ondricka.net/valentin","groups":"http://schowalter.info/gregory.ward","rarities":"http://towne.org/ayden","swagger":"http://oconnell.org/keyshawn","version":"v0.5.5-rc.2"},"required":["cards","factions","rarities","categories","groups","swagger","version"]},"GwentapiVariation":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=default","type":"object","properties":{"art":{"$ref":"#/definitions/artType"},"availability":{"type":"string","description":"Describe from which set the variation comes from and its general availability","example":"BaseSet"},"craft":{"$ref":"#/definitions/costType"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"http://gulgowskisanford.biz/beau_graham","format":"uri"},"mill":{"$ref":"#/definitions/costType"},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"},"uuid":{"type":"string","description":"Unique artwork UUID","example":"pcN4QMTlTAaIOwicgNwtKA"}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (default view)","example":{"art":{"artist":"Marek Madej","fullsizeImage":"http://ondrickajohnston.biz/ewell.roberts","thumbnailImage":"http://pacochacrona.com/donavon"},"availability":"BaseSet","craft":{"normal":30,"premium":200},"href":"http://gulgowskisanford.biz/beau_graham","mill":{"normal":30,"premium":200},"rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"},"uuid":"pcN4QMTlTAaIOwicgNwtKA"},"required":["uuid","href","availability","rarity"]},"GwentapiVariationCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiVariation"},"description":"GwentapiVariationCollection is the media type for an array of GwentapiVariation (default view)","example":[{"art":{"artist":"Marek Madej","fullsizeImage":"http://ondrickajohnston.biz/ewell.roberts","thumbnailImage":"http://pacochacrona.com/donavon"},"availability":"BaseSet","craft":{"normal":30,"premium":200},"href":"http://gulgowskisanford.biz/beau_graham","mill":{"normal":30,"premium":200},"rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"},"uuid":"pcN4QMTlTAaIOwicgNwtKA"},{"art":{"artist":"Marek Madej","fullsizeImage":"http://ondrickajohnston.biz/ewell.roberts","thumbnailImage":"http://pacochacrona.com/donavon"},"availability":"BaseSet","craft":{"normal":30,"premium":200},"href":"http://gulgowskisanford.biz/beau_graham","mill":{"normal":30,"premium":200},"rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"},"uuid":"pcN4QMTlTAaIOwicgNwtKA"}]},"GwentapiVariationLink":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=link","type":"object","properties":{"availability":{"type":"string","description":"Describe from which set the variation comes from and its general availability","example":"BaseSet"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"http://streich.org/orin.herzog","format":"uri"},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (link view)","example":{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},"required":["href","availability","rarity"]},"GwentapiVariationLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiVariationLink"},"description":"GwentapiVariationLinkCollection is the media type for an array of GwentapiVariationLink (default view)","example":[{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}},{"availability":"BaseSet","href":"http://streich.org/orin.herzog","rarity":{"href":"http://kilbackemard.info/marvin","name":"Common"}}]},"artType":{"title":"artType","type":"object","properties":{"artist":{"type":"string","description":"Name of the artist","example":"Marek Madej"},"fullsizeImage":{"type":"string","description":"Href to full size artwork","example":"http://ondrickajohnston.biz/ewell.roberts","format":"uri"},"thumbnailImage":{"type":"string","description":"Href to thumbnail size artwork","example":"http://pacochacrona.com/donavon","format":"uri"}},"description":"Type of card art","example":{"artist":"Marek Madej","fullsizeImage":"http://ondrickajohnston.biz/ewell.roberts","thumbnailImage":"http://pacochacrona.com/donavon"},"required":["thumbnailImage"]},"costType":{"title":"costType","type":"object","properties":{"normal":{"type":"integer","description":"Normal cost","example":30,"format":"int64"},"premium":{"type":"integer","description":"Premium cost","example":200,"format":"int64"}},"description":"Type used to define the associated crafting/milling cost cost","example":{"normal":30,"premium":200},"required":["premium","normal"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}}}}