{"swagger":"2.0","info":{"title":"Gwent API","description":"A consumption-only API of all Gwent data","contact":{"name":"Tristan S.","email":"api.gwent@gmail.com","url":"https://twitter.com/GwentAPI"},"license":{"name":"The textual information presented through this API about GWENT: The Witcher Card Game is copyrighted by CD Projekt RED"},"version":"0.9.1"},"host":"api.gwentapi.com","basePath":"/","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json"],"paths":{"/v0":{"get":{"tags":["index"],"summary":"show index","description":"Listing of all supported resources endpoint","operationId":"index#show","produces":["application/vnd.gwentapi.resource+json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/v0/cards":{"get":{"tags":["card"],"summary":"list card","description":"Return a page of cards.","operationId":"card#list","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"name","in":"query","description":"Query to search for cards with the name starting by the entered value","required":false,"type":"string","maxLength":10,"minLength":3},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/factions/{factionID}":{"get":{"tags":["card"],"summary":"cardFaction card","description":"Return all cards with given faction id.","operationId":"card#cardFaction","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/leaders":{"get":{"tags":["card"],"summary":"cardLeader card","description":"Return all leader cards.","operationId":"card#cardLeader","produces":["application/vnd.gwentapi.pagecard+json"],"parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}":{"get":{"tags":["card"],"summary":"show card","description":"Return card with given id.","operationId":"card#show","produces":["application/vnd.gwentapi.card+json"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/variations":{"get":{"tags":["card"],"summary":"cardVariations card","description":"Return the variations of a card with the given id.","operationId":"card#cardVariations","produces":["application/vnd.gwentapi.variation+json; type=collection"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiVariationCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/variations/{variationID}":{"get":{"tags":["card"],"summary":"cardVariation card","description":"Return the variation of a given id of a card with the given id.","operationId":"card#cardVariation","produces":["application/vnd.gwentapi.variation+json"],"parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer","default":20,"minimum":1},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer","default":0,"minimum":0},{"name":"variationID","in":"path","description":"Variation ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiVariation"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/categories":{"get":{"tags":["category"],"summary":"list category","description":"Return all card categories.","operationId":"category#list","produces":["application/vnd.gwentapi.category+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCategoryCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/categories/{categoryID}":{"get":{"tags":["category"],"summary":"show category","description":"Return card category with given id.","operationId":"category#show","produces":["application/vnd.gwentapi.category+json"],"parameters":[{"name":"categoryID","in":"path","description":"Card category ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCategory"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions":{"get":{"tags":["faction"],"summary":"list faction","description":"Return all factions.","operationId":"faction#list","produces":["application/vnd.gwentapi.faction+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFactionCollection"},"headers":{"Last-Modified":{"type":"string"}}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions/{factionID}":{"get":{"tags":["faction"],"summary":"show faction","description":"Return faction with given id.","operationId":"faction#show","produces":["application/vnd.gwentapi.faction+json"],"parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFaction"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/groups":{"get":{"tags":["group"],"summary":"list group","description":"Return all card groups.","operationId":"group#list","produces":["application/vnd.gwentapi.group+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGroupCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/groups/{groupID}":{"get":{"tags":["group"],"summary":"show group","description":"Return card group with given id.","operationId":"group#show","produces":["application/vnd.gwentapi.group+json"],"parameters":[{"name":"groupID","in":"path","description":"Card group ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGroup"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities":{"get":{"tags":["rarity"],"summary":"list rarity","description":"Return all rarities.","operationId":"rarity#list","produces":["application/vnd.gwentapi.rarity+json; type=collection"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarityCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities/{rarityID}":{"get":{"tags":["rarity"],"summary":"show rarity","description":"Return rarity with given id.","operationId":"rarity#show","produces":["application/vnd.gwentapi.rarity+json"],"parameters":[{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarity"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"GwentapiCard":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=default","type":"object","properties":{"categories":{"$ref":"#/definitions/GwentapiCategoryLinkCollection"},"faction":{"$ref":"#/definitions/GwentapiFactionLink"},"flavor":{"type":"string","description":"Flavor text of the card","example":"Vitae magnam ducimus molestiae omnis ratione id."},"group":{"$ref":"#/definitions/GwentapiGroupLink"},"href":{"type":"string","description":"API href for making requests on the card","example":"Rerum repellendus."},"info":{"type":"string","description":"Text of the card detailing its abilities and how it plays","example":"Eum itaque perspiciatis est quia."},"name":{"type":"string","description":"Name of the card","example":"Aperiam deleniti qui aperiam."},"positions":{"type":"array","items":{"type":"string","example":"Velit nihil totam."},"description":"Positions where the card can be played","example":["Velit nihil totam.","Velit nihil totam."]},"strength":{"type":"integer","description":"Strength of the card","example":4801974885547584669,"format":"int64"},"uuid":{"type":"string","description":"Unique card UUID","example":"In laboriosam nobis excepturi."},"variations":{"$ref":"#/definitions/GwentapiVariationLinkCollection"}},"description":"A card (default view)","example":{"categories":[{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."}],"faction":{"href":"Sed pariatur ut debitis qui.","name":"Molestiae dolor consectetur cupiditate asperiores ratione."},"flavor":"Vitae magnam ducimus molestiae omnis ratione id.","group":{"href":"Unde dignissimos excepturi quas.","name":"Aspernatur itaque incidunt dolores vero illum."},"href":"Rerum repellendus.","info":"Eum itaque perspiciatis est quia.","name":"Aperiam deleniti qui aperiam.","positions":["Velit nihil totam.","Velit nihil totam."],"strength":4801974885547584669,"uuid":"In laboriosam nobis excepturi.","variations":[{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}}]},"required":["uuid","href","name","group","faction","variations"]},"GwentapiCardLink":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the card","example":"Rerum repellendus."},"name":{"type":"string","description":"Name of the card","example":"Aperiam deleniti qui aperiam."}},"description":"A card (link view)","example":{"href":"Rerum repellendus.","name":"Aperiam deleniti qui aperiam."},"required":["href","name"]},"GwentapiCardLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCardLink"},"description":"GwentapiCardLinkCollection is the media type for an array of GwentapiCardLink (default view)","example":[{"categories":[{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."}],"faction":{"href":"Sed pariatur ut debitis qui.","name":"Molestiae dolor consectetur cupiditate asperiores ratione."},"flavor":"Vitae magnam ducimus molestiae omnis ratione id.","group":{"href":"Unde dignissimos excepturi quas.","name":"Aspernatur itaque incidunt dolores vero illum."},"href":"Rerum repellendus.","info":"Eum itaque perspiciatis est quia.","name":"Aperiam deleniti qui aperiam.","positions":["Velit nihil totam.","Velit nihil totam."],"strength":4801974885547584669,"uuid":"In laboriosam nobis excepturi.","variations":[{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}}]},{"categories":[{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."}],"faction":{"href":"Sed pariatur ut debitis qui.","name":"Molestiae dolor consectetur cupiditate asperiores ratione."},"flavor":"Vitae magnam ducimus molestiae omnis ratione id.","group":{"href":"Unde dignissimos excepturi quas.","name":"Aspernatur itaque incidunt dolores vero illum."},"href":"Rerum repellendus.","info":"Eum itaque perspiciatis est quia.","name":"Aperiam deleniti qui aperiam.","positions":["Velit nihil totam.","Velit nihil totam."],"strength":4801974885547584669,"uuid":"In laboriosam nobis excepturi.","variations":[{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}}]},{"categories":[{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."}],"faction":{"href":"Sed pariatur ut debitis qui.","name":"Molestiae dolor consectetur cupiditate asperiores ratione."},"flavor":"Vitae magnam ducimus molestiae omnis ratione id.","group":{"href":"Unde dignissimos excepturi quas.","name":"Aspernatur itaque incidunt dolores vero illum."},"href":"Rerum repellendus.","info":"Eum itaque perspiciatis est quia.","name":"Aperiam deleniti qui aperiam.","positions":["Velit nihil totam.","Velit nihil totam."],"strength":4801974885547584669,"uuid":"In laboriosam nobis excepturi.","variations":[{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}}]}]},"GwentapiCategory":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the category","example":"Et non ipsum veritatis occaecati."},"name":{"type":"string","description":"Name of the category","example":"Quia fugiat culpa."},"uuid":{"type":"string","description":"Unique category UUID","example":"Consequatur necessitatibus aut rerum expedita impedit architecto."}},"description":"A card category (default view)","example":{"href":"Et non ipsum veritatis occaecati.","name":"Quia fugiat culpa.","uuid":"Consequatur necessitatibus aut rerum expedita impedit architecto."},"required":["uuid","href","name"]},"GwentapiCategoryCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCategory"},"description":"GwentapiCategoryCollection is the media type for an array of GwentapiCategory (default view)","example":[{"href":"Et non ipsum veritatis occaecati.","name":"Quia fugiat culpa.","uuid":"Consequatur necessitatibus aut rerum expedita impedit architecto."},{"href":"Et non ipsum veritatis occaecati.","name":"Quia fugiat culpa.","uuid":"Consequatur necessitatibus aut rerum expedita impedit architecto."}]},"GwentapiCategoryLink":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the category","example":"Explicabo quisquam voluptate doloribus praesentium sit."},"name":{"type":"string","description":"Name of the category","example":"Qui aut omnis error."}},"description":"A card category (link view)","example":{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."},"required":["href","name"]},"GwentapiCategoryLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.category+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCategoryLink"},"description":"GwentapiCategoryLinkCollection is the media type for an array of GwentapiCategoryLink (default view)","example":[{"href":"Explicabo quisquam voluptate doloribus praesentium sit.","name":"Qui aut omnis error."}]},"GwentapiFaction":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Consequatur quod repudiandae."},"name":{"type":"string","description":"Name of the faction","example":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."},"uuid":{"type":"string","description":"Unique faction UUID","example":"Architecto saepe quod aperiam."}},"description":"A card faction (default view)","example":{"href":"Consequatur quod repudiandae.","name":"Corrupti aperiam ducimus aspernatur dignissimos numquam et.","uuid":"Architecto saepe quod aperiam."},"required":["uuid","href","name"]},"GwentapiFactionCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiFaction"},"description":"GwentapiFactionCollection is the media type for an array of GwentapiFaction (default view)","example":[{"href":"Consequatur quod repudiandae.","name":"Corrupti aperiam ducimus aspernatur dignissimos numquam et.","uuid":"Architecto saepe quod aperiam."},{"href":"Consequatur quod repudiandae.","name":"Corrupti aperiam ducimus aspernatur dignissimos numquam et.","uuid":"Architecto saepe quod aperiam."}]},"GwentapiFactionLink":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Sed pariatur ut debitis qui."},"name":{"type":"string","description":"Name of the faction","example":"Molestiae dolor consectetur cupiditate asperiores ratione."}},"description":"A card faction (link view)","example":{"href":"Sed pariatur ut debitis qui.","name":"Molestiae dolor consectetur cupiditate asperiores ratione."},"required":["href","name"]},"GwentapiGroup":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the group","example":"Aperiam architecto nobis voluptatem."},"name":{"type":"string","description":"Name of the group","example":"Saepe illum voluptas unde."},"uuid":{"type":"string","description":"Unique group UUID","example":"In quo tenetur recusandae."}},"description":"A card group (default view)","example":{"href":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde.","uuid":"In quo tenetur recusandae."},"required":["uuid","href","name"]},"GwentapiGroupCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiGroup"},"description":"GwentapiGroupCollection is the media type for an array of GwentapiGroup (default view)","example":[{"href":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde.","uuid":"In quo tenetur recusandae."},{"href":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde.","uuid":"In quo tenetur recusandae."}]},"GwentapiGroupLink":{"title":"Mediatype identifier: application/vnd.gwentapi.group+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the group","example":"Unde dignissimos excepturi quas."},"name":{"type":"string","description":"Name of the group","example":"Aspernatur itaque incidunt dolores vero illum."}},"description":"A card group (link view)","example":{"href":"Unde dignissimos excepturi quas.","name":"Aspernatur itaque incidunt dolores vero illum."},"required":["href","name"]},"GwentapiPagecard":{"title":"Mediatype identifier: application/vnd.gwentapi.pagecard+json; view=default","type":"object","properties":{"count":{"type":"integer","description":"Total number of cards stored in the database","example":8554207927254388997,"format":"int64"},"next":{"type":"string","description":"Href to the next page","example":"Non nulla."},"previous":{"type":"string","description":"Href to the previous page","example":"Ea quia voluptatibus neque esse."},"results":{"$ref":"#/definitions/GwentapiCardLinkCollection"}},"description":"Paginated card (default view)","example":{"count":8554207927254388997,"next":"Non nulla.","previous":"Ea quia voluptatibus neque esse.","results":[{"href":"Rerum repellendus.","name":"Aperiam deleniti qui aperiam."},{"href":"Rerum repellendus.","name":"Aperiam deleniti qui aperiam."}]},"required":["count","results"]},"GwentapiRarity":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Minus accusantium error."},"name":{"type":"string","description":"Name of the rarity","example":"Quia sunt."},"uuid":{"type":"string","description":"Unique rarity UUID","example":"Veritatis doloribus est asperiores."}},"description":"A card rarity (default view)","example":{"href":"Minus accusantium error.","name":"Quia sunt.","uuid":"Veritatis doloribus est asperiores."},"required":["uuid","href","name"]},"GwentapiRarityCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiRarity"},"description":"GwentapiRarityCollection is the media type for an array of GwentapiRarity (default view)","example":[{"href":"Minus accusantium error.","name":"Quia sunt.","uuid":"Veritatis doloribus est asperiores."},{"href":"Minus accusantium error.","name":"Quia sunt.","uuid":"Veritatis doloribus est asperiores."}]},"GwentapiRarityLink":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Nihil minus qui ipsam ut dolor consequatur."},"name":{"type":"string","description":"Name of the rarity","example":"Pariatur et quam."}},"description":"A card rarity (link view)","example":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."},"required":["href","name"]},"GwentapiResource":{"title":"Mediatype identifier: application/vnd.gwentapi.resource+json; view=default","type":"object","properties":{"cards":{"type":"string","description":"API href for making requests on cards","example":"Rerum dolores totam dignissimos modi praesentium deleniti."},"categories":{"type":"string","description":"API href for making requests on categories","example":"Voluptate est voluptas illo eum rerum et."},"factions":{"type":"string","description":"API href for making requests on factions","example":"Dolor possimus ut et veniam."},"groups":{"type":"string","description":"API href for making requests on groups","example":"Sed sed eveniet est quisquam."},"rarities":{"type":"string","description":"API href for making requests on rarities","example":"Qui eius aut amet dolorem at."},"swagger":{"type":"string","description":"Href linking to the swagger definition","example":"Cumque libero illo nam nobis ut eaque."},"version":{"type":"string","description":"Version of the software that is currently running","example":"Nihil officiis sit consequuntur rerum."}},"description":"Listing of all available resource endpoint and a link to the api definition (default view)","example":{"cards":"Rerum dolores totam dignissimos modi praesentium deleniti.","categories":"Voluptate est voluptas illo eum rerum et.","factions":"Dolor possimus ut et veniam.","groups":"Sed sed eveniet est quisquam.","rarities":"Qui eius aut amet dolorem at.","swagger":"Cumque libero illo nam nobis ut eaque.","version":"Nihil officiis sit consequuntur rerum."},"required":["cards","factions","rarities","categories","groups","swagger","version"]},"GwentapiVariation":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=default","type":"object","properties":{"art":{"$ref":"#/definitions/artType"},"availability":{"type":"string","description":"Describe from which set the variation comes from and its general availability","example":"Eum voluptatum rerum natus."},"craft":{"$ref":"#/definitions/costType"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"Sit assumenda quia adipisci impedit."},"mill":{"$ref":"#/definitions/costType"},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"},"uuid":{"type":"string","description":"Unique artwork UUID","example":"Facere sapiente enim."}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (default view)","example":{"art":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"availability":"Eum voluptatum rerum natus.","craft":{"normal":1430336663006592205,"premium":8405396415201294344},"href":"Sit assumenda quia adipisci impedit.","mill":{"normal":1430336663006592205,"premium":8405396415201294344},"rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."},"uuid":"Facere sapiente enim."},"required":["uuid","href","availability","rarity"]},"GwentapiVariationCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiVariation"},"description":"GwentapiVariationCollection is the media type for an array of GwentapiVariation (default view)","example":[{"art":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"availability":"Eum voluptatum rerum natus.","craft":{"normal":1430336663006592205,"premium":8405396415201294344},"href":"Sit assumenda quia adipisci impedit.","mill":{"normal":1430336663006592205,"premium":8405396415201294344},"rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."},"uuid":"Facere sapiente enim."},{"art":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"availability":"Eum voluptatum rerum natus.","craft":{"normal":1430336663006592205,"premium":8405396415201294344},"href":"Sit assumenda quia adipisci impedit.","mill":{"normal":1430336663006592205,"premium":8405396415201294344},"rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."},"uuid":"Facere sapiente enim."},{"art":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"availability":"Eum voluptatum rerum natus.","craft":{"normal":1430336663006592205,"premium":8405396415201294344},"href":"Sit assumenda quia adipisci impedit.","mill":{"normal":1430336663006592205,"premium":8405396415201294344},"rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."},"uuid":"Facere sapiente enim."}]},"GwentapiVariationLink":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=link","type":"object","properties":{"availability":{"type":"string","description":"Describe from which set the variation comes from and its general availability","example":"Placeat aperiam atque iure."},"href":{"type":"string","description":"API href for making requests on the artwork","example":"Est dicta."},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (link view)","example":{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}},"required":["href","availability","rarity"]},"GwentapiVariationLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiVariationLink"},"description":"GwentapiVariationLinkCollection is the media type for an array of GwentapiVariationLink (default view)","example":[{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}},{"availability":"Placeat aperiam atque iure.","href":"Est dicta.","rarity":{"href":"Nihil minus qui ipsam ut dolor consequatur.","name":"Pariatur et quam."}}]},"artType":{"title":"artType","type":"object","properties":{"artist":{"type":"string","description":"Name of the artist","example":"Vel modi."},"fullsizeImage":{"type":"string","description":"Href to full size artwork","example":"Et accusamus qui qui architecto."},"thumbnailImage":{"type":"string","description":"Href to thumbnail size artwork","example":"Nemo nemo autem voluptatem dolorem laudantium eum."}},"description":"Type of card art","example":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"required":["thumbnailImage"]},"costType":{"title":"costType","type":"object","properties":{"normal":{"type":"integer","description":"Normal cost","example":1430336663006592205,"format":"int64"},"premium":{"type":"integer","description":"Premium cost","example":8405396415201294344,"format":"int64"}},"description":"Type used to define the associated crafting/milling cost cost","example":{"normal":1430336663006592205,"premium":8405396415201294344},"required":["premium","normal"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}}}}