{"swagger":"2.0","info":{"title":"Gwent API","description":"A consumption-only API of all Gwent data","contact":{"name":"Tristan S.","email":"api.gwent@gmail.com","url":"https://twitter.com/GwentAPI"},"license":{"name":"The textual information presented through this API about GWENT: The Witcher Card Game is copyrighted by CD Projekt RED"},"version":"0.9"},"host":"api.gwentapi.com","basePath":"/","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json"],"paths":{"/v0":{"get":{"tags":["phonebook"],"summary":"show phonebook","description":"Listing of all supported resources endpoint","operationId":"phonebook#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/v0/cards":{"get":{"tags":["card"],"summary":"list card","description":"Return a page of cards.","operationId":"card#list","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/factions/{factionID}":{"get":{"tags":["card"],"summary":"cardFaction card","description":"Return all cards with given faction id.","operationId":"card#cardFaction","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/leaders":{"get":{"tags":["card"],"summary":"cardLeader card","description":"Return all leader cards.","operationId":"card#cardLeader","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/rarities/{rarityID}":{"get":{"tags":["card"],"summary":"cardRarity card","description":"Return all cards with given rarity id.","operationId":"card#cardRarity","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"},{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}":{"get":{"tags":["card"],"summary":"show card","description":"Return card with given id.","operationId":"card#show","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/cards/{cardID}/artworks":{"get":{"tags":["card"],"summary":"cardArtworks card","description":"Return artwork with given id.","operationId":"card#cardArtworks","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiVariation"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions":{"get":{"tags":["faction"],"summary":"list faction","description":"Return all factions.","operationId":"faction#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFactionCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/factions/{factionID}":{"get":{"tags":["faction"],"summary":"show faction","description":"Return faction with given id.","operationId":"faction#show","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFaction"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/glyphs":{"get":{"tags":["glyph"],"summary":"list glyph","description":"Return all glyphs.","operationId":"glyph#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyphCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/glyphs/{glyphID}":{"get":{"tags":["glyph"],"summary":"show glyph","description":"Return glyph with given id.","operationId":"glyph#show","parameters":[{"name":"glyphID","in":"path","description":"Glyph ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyph"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches":{"get":{"tags":["patch"],"summary":"list patch","description":"Return all patches.","operationId":"patch#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatchCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches/latest":{"get":{"tags":["patch"],"summary":"latest patch","description":"Return latest patch.","operationId":"patch#latest","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/patches/{patchID}":{"get":{"tags":["patch"],"summary":"show patch","description":"Return patch with given id.","operationId":"patch#show","parameters":[{"name":"patchID","in":"path","description":"Patch ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities":{"get":{"tags":["rarity"],"summary":"list rarity","description":"Return all rarities.","operationId":"rarity#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarityCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/rarities/{rarityID}":{"get":{"tags":["rarity"],"summary":"show rarity","description":"Return rarity with given id.","operationId":"rarity#show","parameters":[{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarity"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/types":{"get":{"tags":["type"],"summary":"list type","description":"Return all card types.","operationId":"type#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiTypeCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/v0/types/{typeID}":{"get":{"tags":["type"],"summary":"show type","description":"Return card type with given id.","operationId":"type#show","parameters":[{"name":"typeID","in":"path","description":"Card type ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiType"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"GwentapiCard":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=default","type":"object","properties":{"faction":{"$ref":"#/definitions/GwentapiFactionLink"},"flavor":{"type":"string","description":"Flavor text of the card","example":"Consequatur necessitatibus aut rerum expedita impedit architecto."},"href":{"type":"string","description":"API href for making requests on the card","example":"Consequatur quod repudiandae."},"id":{"type":"string","description":"Unique card ID","example":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."},"name":{"type":"string","description":"Name of the card","example":"Architecto saepe quod aperiam."},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"},"rows":{"type":"array","items":{"type":"string","example":"Quo tenetur."},"description":"Rows where the card can be played","example":["Quo tenetur.","Quo tenetur."]},"strength":{"type":"integer","description":"Strength of the card","example":8278535645508835049,"format":"int64"},"subtypes":{"$ref":"#/definitions/GwentapiTypeLinkCollection"},"text":{"type":"string","description":"Text of the card detailing its abilities and how it plays","example":"Quidem in laboriosam nobis excepturi."},"type":{"$ref":"#/definitions/GwentapiTypeLink"},"variations":{"$ref":"#/definitions/GwentapiVariationLinkCollection"}},"description":"A card (default view)","example":{"faction":{"href":"Et quam facilis facere sapiente enim.","name":"Necessitatibus expedita explicabo quisquam voluptate doloribus praesentium."},"flavor":"Consequatur necessitatibus aut rerum expedita impedit architecto.","href":"Consequatur quod repudiandae.","id":"Corrupti aperiam ducimus aspernatur dignissimos numquam et.","name":"Architecto saepe quod aperiam.","rarity":{"href":"Quis qui aut.","name":"Error sit."},"rows":["Quo tenetur.","Quo tenetur."],"strength":8278535645508835049,"subtypes":[{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."}],"text":"Quidem in laboriosam nobis excepturi.","type":{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."},"variations":[{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."}]},"required":["id","href","name","type","faction","rarity"]},"GwentapiCardLink":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the card","example":"Consequatur quod repudiandae."},"name":{"type":"string","description":"Name of the card","example":"Architecto saepe quod aperiam."}},"description":"A card (link view)","example":{"href":"Consequatur quod repudiandae.","name":"Architecto saepe quod aperiam."},"required":["href","name"]},"GwentapiCardLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiCardLink"},"description":"GwentapiCardLinkCollection is the media type for an array of GwentapiCardLink (default view)","example":[{"faction":{"href":"Et quam facilis facere sapiente enim.","name":"Necessitatibus expedita explicabo quisquam voluptate doloribus praesentium."},"flavor":"Consequatur necessitatibus aut rerum expedita impedit architecto.","href":"Consequatur quod repudiandae.","id":"Corrupti aperiam ducimus aspernatur dignissimos numquam et.","name":"Architecto saepe quod aperiam.","rarity":{"href":"Quis qui aut.","name":"Error sit."},"rows":["Quo tenetur.","Quo tenetur."],"strength":8278535645508835049,"subtypes":[{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."}],"text":"Quidem in laboriosam nobis excepturi.","type":{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."},"variations":[{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."}]}]},"GwentapiFaction":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Ut et non."},"id":{"type":"string","description":"Unique faction ID","example":"Veritatis occaecati."},"name":{"type":"string","description":"Name of the faction","example":"Quia fugiat culpa."}},"description":"A card faction (default view)","example":{"href":"Ut et non.","id":"Veritatis occaecati.","name":"Quia fugiat culpa."},"required":["id","href","name"]},"GwentapiFactionCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiFaction"},"description":"GwentapiFactionCollection is the media type for an array of GwentapiFaction (default view)","example":[{"href":"Ut et non.","id":"Veritatis occaecati.","name":"Quia fugiat culpa."}]},"GwentapiFactionLink":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Et quam facilis facere sapiente enim."},"name":{"type":"string","description":"Name of the faction","example":"Necessitatibus expedita explicabo quisquam voluptate doloribus praesentium."}},"description":"A card faction (link view)","example":{"href":"Et quam facilis facere sapiente enim.","name":"Necessitatibus expedita explicabo quisquam voluptate doloribus praesentium."},"required":["href","name"]},"GwentapiGlyph":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the glyph","example":"Adipisci magni pariatur consequatur veniam."},"id":{"type":"string","description":"Unique glyph ID","example":"Earum est eveniet at sit sit."},"isWeatherGlyph":{"type":"boolean","description":"Indicate whether or not the glyph is a weather glyph","example":false},"name":{"type":"string","description":"Name of the glyph","example":"Aut et dolorem quam."},"text":{"type":"string","description":"Text of the glyph","example":"Earum veritatis et."}},"description":"A glyph (default view)","example":{"href":"Adipisci magni pariatur consequatur veniam.","id":"Earum est eveniet at sit sit.","isWeatherGlyph":false,"name":"Aut et dolorem quam.","text":"Earum veritatis et."},"required":["id","href","name","isWeatherGlyph","text"]},"GwentapiGlyphCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiGlyph"},"description":"GwentapiGlyphCollection is the media type for an array of GwentapiGlyph (default view)","example":[{"href":"Adipisci magni pariatur consequatur veniam.","id":"Earum est eveniet at sit sit.","isWeatherGlyph":false,"name":"Aut et dolorem quam.","text":"Earum veritatis et."},{"href":"Adipisci magni pariatur consequatur veniam.","id":"Earum est eveniet at sit sit.","isWeatherGlyph":false,"name":"Aut et dolorem quam.","text":"Earum veritatis et."}]},"GwentapiPagecard":{"title":"Mediatype identifier: application/vnd.gwentapi.pagecard+json; view=default","type":"object","properties":{"count":{"type":"integer","description":"Total number of cards stored in the database","example":6110030160857862240,"format":"int64"},"next":{"type":"string","description":"Href to the next page","example":"Fugit voluptatem error iure perferendis aut aut."},"previous":{"type":"string","description":"Href to the previous page","example":"Explicabo neque repellat aliquid recusandae."},"results":{"$ref":"#/definitions/GwentapiCardLinkCollection"}},"description":"Paginated card (default view)","example":{"count":6110030160857862240,"next":"Fugit voluptatem error iure perferendis aut aut.","previous":"Explicabo neque repellat aliquid recusandae.","results":[{"href":"Consequatur quod repudiandae.","name":"Architecto saepe quod aperiam."}]},"required":["count","results"]},"GwentapiPatch":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the patch","example":"Possimus minus quo et non nulla."},"id":{"type":"string","description":"Unique Patch ID","example":"Ea quia voluptatibus neque esse."},"releaseDate":{"type":"string","description":"Release date of the patch","example":"1973-06-07T22:38:46-04:00","format":"date-time"},"version":{"type":"string","description":"Patch version","example":"Minus accusantium error."}},"description":"A game patch (default view)","example":{"href":"Possimus minus quo et non nulla.","id":"Ea quia voluptatibus neque esse.","releaseDate":"1973-06-07T22:38:46-04:00","version":"Minus accusantium error."},"required":["id","href","version","releaseDate"]},"GwentapiPatchCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiPatch"},"description":"GwentapiPatchCollection is the media type for an array of GwentapiPatch (default view)","example":[{"href":"Possimus minus quo et non nulla.","id":"Ea quia voluptatibus neque esse.","releaseDate":"1973-06-07T22:38:46-04:00","version":"Minus accusantium error."}]},"GwentapiRarity":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Vitae magnam ducimus molestiae omnis ratione id."},"id":{"type":"string","description":"Unique rarity ID","example":"Aperiam architecto nobis voluptatem."},"name":{"type":"string","description":"Name of the rarity","example":"Saepe illum voluptas unde."}},"description":"A card rarity (default view)","example":{"href":"Vitae magnam ducimus molestiae omnis ratione id.","id":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde."},"required":["id","href","name"]},"GwentapiRarityCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiRarity"},"description":"GwentapiRarityCollection is the media type for an array of GwentapiRarity (default view)","example":[{"href":"Vitae magnam ducimus molestiae omnis ratione id.","id":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde."},{"href":"Vitae magnam ducimus molestiae omnis ratione id.","id":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde."},{"href":"Vitae magnam ducimus molestiae omnis ratione id.","id":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde."}]},"GwentapiRarityLink":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Quis qui aut."},"name":{"type":"string","description":"Name of the rarity","example":"Error sit."}},"description":"A card rarity (link view)","example":{"href":"Quis qui aut.","name":"Error sit."},"required":["href","name"]},"GwentapiResource":{"title":"Mediatype identifier: application/vnd.gwentapi.resource+json; view=default","type":"object","properties":{"cards":{"type":"string","description":"API href for making requests on cards","example":"Voluptas illo."},"categories":{"type":"string","description":"API href for making requests on categories","example":"Rerum et minima dolor possimus ut et."},"factions":{"type":"string","description":"API href for making requests on factions","example":"Qui sed sed."},"groups":{"type":"string","description":"API href for making requests on groups","example":"Est quisquam unde."},"rarities":{"type":"string","description":"API href for making requests on rarities","example":"Eius aut amet."}},"description":"Listing of all available resource endpoint (default view)","example":{"cards":"Voluptas illo.","categories":"Rerum et minima dolor possimus ut et.","factions":"Qui sed sed.","groups":"Est quisquam unde.","rarities":"Eius aut amet."},"required":["cards","factions","rarities","categories","groups"]},"GwentapiType":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; view=default","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Repellendus qui eum itaque perspiciatis."},"id":{"type":"string","description":"Unique type ID","example":"Quia quam aperiam deleniti."},"name":{"type":"string","description":"Name of the type","example":"Aperiam unde eveniet velit nihil totam."}},"description":"A card type (default view)","example":{"href":"Repellendus qui eum itaque perspiciatis.","id":"Quia quam aperiam deleniti.","name":"Aperiam unde eveniet velit nihil totam."},"required":["id","href","name"]},"GwentapiTypeCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiType"},"description":"GwentapiTypeCollection is the media type for an array of GwentapiType (default view)","example":[{"href":"Repellendus qui eum itaque perspiciatis.","id":"Quia quam aperiam deleniti.","name":"Aperiam unde eveniet velit nihil totam."},{"href":"Repellendus qui eum itaque perspiciatis.","id":"Quia quam aperiam deleniti.","name":"Aperiam unde eveniet velit nihil totam."},{"href":"Repellendus qui eum itaque perspiciatis.","id":"Quia quam aperiam deleniti.","name":"Aperiam unde eveniet velit nihil totam."}]},"GwentapiTypeLink":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Ut debitis qui illo molestiae dolor."},"name":{"type":"string","description":"Name of the type","example":"Cupiditate asperiores ratione sed."}},"description":"A card type (link view)","example":{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."},"required":["href","name"]},"GwentapiTypeLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiTypeLink"},"description":"GwentapiTypeLinkCollection is the media type for an array of GwentapiTypeLink (default view)","example":[{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."},{"href":"Ut debitis qui illo molestiae dolor.","name":"Cupiditate asperiores ratione sed."}]},"GwentapiVariation":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=default","type":"object","properties":{"art":{"$ref":"#/definitions/artType"},"availability":{"type":"string","description":"Describe from which set the variation comes from and its general availability","example":"Eum voluptatum rerum natus."},"craft":{"$ref":"#/definitions/costType"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"Sit assumenda quia adipisci impedit."},"mill":{"$ref":"#/definitions/costType"},"rarity":{"$ref":"#/definitions/GwentapiRarity"},"uuid":{"type":"string","description":"Unique artwork UUID","example":"Nihil minus qui ipsam ut dolor consequatur."}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (default view)","example":{"art":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."},"availability":"Eum voluptatum rerum natus.","craft":{"normal":1430336663006592205,"premium":8405396415201294344},"href":"Sit assumenda quia adipisci impedit.","mill":{"normal":1430336663006592205,"premium":8405396415201294344},"rarity":{"href":"Vitae magnam ducimus molestiae omnis ratione id.","id":"Aperiam architecto nobis voluptatem.","name":"Saepe illum voluptas unde."},"uuid":"Nihil minus qui ipsam ut dolor consequatur."},"required":["uuid","href","mill","craft","availability","rarity"]},"GwentapiVariationLink":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; view=link","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the artwork","example":"Excepturi quas sed aspernatur itaque incidunt dolores."}},"description":"Variation of a card containing artworks, crafting/milling cost, set availability, and rarity. (link view)","example":{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."},"required":["href"]},"GwentapiVariationLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.variation+json; type=collection; view=default","type":"array","items":{"$ref":"#/definitions/GwentapiVariationLink"},"description":"GwentapiVariationLinkCollection is the media type for an array of GwentapiVariationLink (default view)","example":[{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."},{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."},{"href":"Excepturi quas sed aspernatur itaque incidunt dolores."}]},"artType":{"title":"artType","type":"object","properties":{"artist":{"type":"string","description":"Name of the artist","example":"Vel modi."},"fullsizeImage":{"type":"string","description":"Href to full size artwork","example":"Et accusamus qui qui architecto."},"thumbnailImage":{"type":"string","description":"Href to thumbnail size artwork","example":"Nemo nemo autem voluptatem dolorem laudantium eum."}},"description":"Type of card art","example":{"artist":"Vel modi.","fullsizeImage":"Et accusamus qui qui architecto.","thumbnailImage":"Nemo nemo autem voluptatem dolorem laudantium eum."}},"costType":{"title":"costType","type":"object","properties":{"normal":{"type":"integer","description":"Normal cost","example":1430336663006592205,"format":"int64"},"premium":{"type":"integer","description":"Premium cost","example":8405396415201294344,"format":"int64"}},"description":"Type used to define the associated crafting/milling cost cost","example":{"normal":1430336663006592205,"premium":8405396415201294344},"required":["premium","normal"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}}}}