{"swagger":"2.0","info":{"title":"Gwent API","description":"A consumption-only API of all Gwent data","contact":{"name":"Tristan S.","email":"api.gwent@gmail.com","url":"https://twitter.com/GwentAPI"},"license":{"name":"The textual information presented through this API about GWENT: The Witcher Card Game is copyrighted by CD Projekt RED"},"version":"0.1"},"host":"api.gwentapi.com","basePath":"/v0","schemes":["https"],"consumes":["application/json","application/xml","application/gob","application/x-gob"],"produces":["application/json"],"paths":{"":{"get":{"tags":["phonebook"],"summary":"show phonebook","description":"Listing of all supported resources endpoint","operationId":"phonebook#show","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiResource"}},"404":{"description":"Not Found"}},"schemes":["https"]}},"/artworks/{cardID}":{"get":{"tags":["artwork"],"summary":"show artwork","description":"Return artwork with given id.","operationId":"artwork#show","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiArtwork"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/cards":{"get":{"tags":["card"],"summary":"list card","description":"Return a page of cards.","operationId":"card#list","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPagecard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/cards/factions/{factionID}":{"get":{"tags":["card"],"summary":"cardFaction card","description":"Return all cards with given faction id.","operationId":"card#cardFaction","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCardCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/cards/leaders":{"get":{"tags":["card"],"summary":"cardLeader card","description":"Return all leader cards.","operationId":"card#cardLeader","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCardCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/cards/rarities/{rarityID}":{"get":{"tags":["card"],"summary":"cardRarity card","description":"Return all cards with given rarity id.","operationId":"card#cardRarity","parameters":[{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"},{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCardCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/cards/{cardID}":{"get":{"tags":["card"],"summary":"show card","description":"Return card with given id.","operationId":"card#show","parameters":[{"name":"cardID","in":"path","description":"Card ID","required":true,"type":"string"},{"name":"limit","in":"query","description":"Number of cards to receive","required":false,"type":"integer"},{"name":"offset","in":"query","description":"Offset of the starting count","required":false,"type":"integer"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiCard"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/factions":{"get":{"tags":["faction"],"summary":"list faction","description":"Return all factions.","operationId":"faction#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFactionCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/factions/{factionID}":{"get":{"tags":["faction"],"summary":"show faction","description":"Return faction with given id.","operationId":"faction#show","parameters":[{"name":"factionID","in":"path","description":"Faction ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiFaction"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/glyphs":{"get":{"tags":["glyph"],"summary":"list glyph","description":"Return all glyphs.","operationId":"glyph#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyphCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/glyphs/{glyphID}":{"get":{"tags":["glyph"],"summary":"show glyph","description":"Return glyph with given id.","operationId":"glyph#show","parameters":[{"name":"glyphID","in":"path","description":"Glyph ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiGlyph"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/patches":{"get":{"tags":["patch"],"summary":"list patch","description":"Return all patches.","operationId":"patch#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatchCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/patches/latest":{"get":{"tags":["patch"],"summary":"latest patch","description":"Return latest patch.","operationId":"patch#latest","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/patches/{patchID}":{"get":{"tags":["patch"],"summary":"show patch","description":"Return patch with given id.","operationId":"patch#show","parameters":[{"name":"patchID","in":"path","description":"Patch ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiPatch"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/rarities":{"get":{"tags":["rarity"],"summary":"list rarity","description":"Return all rarities.","operationId":"rarity#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarityCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/rarities/{rarityID}":{"get":{"tags":["rarity"],"summary":"show rarity","description":"Return rarity with given id.","operationId":"rarity#show","parameters":[{"name":"rarityID","in":"path","description":"Rarity ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiRarity"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/types":{"get":{"tags":["type"],"summary":"list type","description":"Return all card types.","operationId":"type#list","responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiTypeCollection"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}},"/types/{typeID}":{"get":{"tags":["type"],"summary":"show type","description":"Return card type with given id.","operationId":"type#show","parameters":[{"name":"typeID","in":"path","description":"Card type ID","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiType"}},"404":{"description":"Not Found"},"500":{"description":"Internal Server Error"}},"schemes":["https"]}}},"definitions":{"GwentapiArtwork":{"title":"Mediatype identifier: application/vnd.gwentapi.artwork+json","type":"object","properties":{"alternatives":{"type":"array","items":{"$ref":"#/definitions/artworkType"},"description":"Alternatives artwork for the card","example":[{"artist":"Et non ipsum veritatis occaecati.","full":"Quia fugiat culpa.","small":"Consequatur necessitatibus aut rerum expedita impedit architecto."},{"artist":"Et non ipsum veritatis occaecati.","full":"Quia fugiat culpa.","small":"Consequatur necessitatibus aut rerum expedita impedit architecto."}]},"artwork":{"$ref":"#/definitions/artworkType"},"href":{"type":"string","description":"API href for making requests on the artwork","example":"Consequatur quod repudiandae."},"id":{"type":"string","description":"Unique artwork ID","example":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."}},"description":"Artwork for a card (default view)","example":{"alternatives":[{"artist":"Et non ipsum veritatis occaecati.","full":"Quia fugiat culpa.","small":"Consequatur necessitatibus aut rerum expedita impedit architecto."},{"artist":"Et non ipsum veritatis occaecati.","full":"Quia fugiat culpa.","small":"Consequatur necessitatibus aut rerum expedita impedit architecto."}],"artwork":{"artist":"Et non ipsum veritatis occaecati.","full":"Quia fugiat culpa.","small":"Consequatur necessitatibus aut rerum expedita impedit architecto."},"href":"Consequatur quod repudiandae.","id":"Corrupti aperiam ducimus aspernatur dignissimos numquam et."},"required":["id","href","artwork"]},"GwentapiCard":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json","type":"object","properties":{"faction":{"$ref":"#/definitions/GwentapiFactionLink"},"flavor":{"type":"string","description":"Flavor text of the card","example":"Saepe illum voluptas unde."},"href":{"type":"string","description":"API href for making requests on the card","example":"In quo tenetur recusandae."},"id":{"type":"string","description":"Unique card ID","example":"Rerum repellendus."},"name":{"type":"string","description":"Name of the card","example":"Eum itaque perspiciatis est quia."},"rarity":{"$ref":"#/definitions/GwentapiRarityLink"},"rows":{"type":"array","items":{"type":"string","example":"Quibusdam et accusamus."},"description":"Rows where the card can be played","example":["Quibusdam et accusamus.","Quibusdam et accusamus."]},"strength":{"type":"integer","description":"Strength of the card","example":6500041798329438505,"format":"int64"},"subtypes":{"$ref":"#/definitions/GwentapiTypeLinkCollection"},"text":{"type":"string","description":"Text of the card detailing its abilities and how it plays","example":"Quia adipisci impedit quidem."},"type":{"$ref":"#/definitions/GwentapiTypeLink"}},"description":"A card (default view)","example":{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}},"required":["id","href","name","type","faction","rarity"]},"GwentapiCardCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiCard"},"description":"GwentapiCardCollection is the media type for an array of GwentapiCard (default view)","example":[{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}},{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}}]},"GwentapiCardLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.card+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiCard"},"description":"GwentapiCardLinkCollection is the media type for an array of GwentapiCardLink (default view)","example":[{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}},{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}}]},"GwentapiFaction":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Architecto saepe quod aperiam."},"id":{"type":"string","description":"Unique faction ID","example":"Vitae magnam ducimus molestiae omnis ratione id."},"name":{"type":"string","description":"Name of the faction","example":"Aperiam architecto nobis voluptatem."}},"description":"A card faction (default view)","required":["id","href","name"]},"GwentapiFactionCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiFaction"},"description":"GwentapiFactionCollection is the media type for an array of GwentapiFaction (default view)","example":[{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."}]},"GwentapiFactionLink":{"title":"Mediatype identifier: application/vnd.gwentapi.faction+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the faction","example":"Architecto saepe quod aperiam."},"id":{"type":"string","description":"Unique faction ID","example":"Vitae magnam ducimus molestiae omnis ratione id."},"name":{"type":"string","description":"Name of the faction","example":"Aperiam architecto nobis voluptatem."}},"description":"A card faction (default view)","required":["id","href","name"]},"GwentapiGlyph":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the glyph","example":"Voluptate doloribus praesentium sit."},"id":{"type":"string","description":"Unique glyph ID","example":"Qui aut omnis error."},"isWeatherGlyph":{"type":"boolean","description":"Indicate whether or not the glyph is a weather glyph","example":false},"name":{"type":"string","description":"Name of the glyph","example":"Pariatur ut debitis qui."},"text":{"type":"string","description":"Text of the glyph","example":"Molestiae dolor consectetur cupiditate asperiores ratione."}},"description":"A glyph (default view)","example":{"href":"Voluptate doloribus praesentium sit.","id":"Qui aut omnis error.","isWeatherGlyph":false,"name":"Pariatur ut debitis qui.","text":"Molestiae dolor consectetur cupiditate asperiores ratione."},"required":["id","href","name","isWeatherGlyph","text"]},"GwentapiGlyphCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.glyph+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiGlyph"},"description":"GwentapiGlyphCollection is the media type for an array of GwentapiGlyph (default view)","example":[{"href":"Voluptate doloribus praesentium sit.","id":"Qui aut omnis error.","isWeatherGlyph":false,"name":"Pariatur ut debitis qui.","text":"Molestiae dolor consectetur cupiditate asperiores ratione."}]},"GwentapiPagecard":{"title":"Mediatype identifier: application/vnd.gwentapi.pagecard+json","type":"object","properties":{"count":{"type":"integer","description":"Total number of cards stored in the database","example":2872376566111718442,"format":"int64"},"next":{"type":"string","description":"Href to the next page","example":"Excepturi quas sed aspernatur itaque incidunt dolores."},"previous":{"type":"string","description":"Href to the previous page","example":"Illum sit et placeat aperiam."},"results":{"$ref":"#/definitions/GwentapiCardLinkCollection"}},"description":"Paginated card (default view)","example":{"count":2872376566111718442,"next":"Excepturi quas sed aspernatur itaque incidunt dolores.","previous":"Illum sit et placeat aperiam.","results":[{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}},{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}},{"faction":{"href":"Architecto saepe quod aperiam.","id":"Vitae magnam ducimus molestiae omnis ratione id.","name":"Aperiam architecto nobis voluptatem."},"flavor":"Saepe illum voluptas unde.","href":"In quo tenetur recusandae.","id":"Rerum repellendus.","name":"Eum itaque perspiciatis est quia.","rarity":{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},"rows":["Quibusdam et accusamus.","Quibusdam et accusamus."],"strength":6500041798329438505,"subtypes":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}],"text":"Quia adipisci impedit quidem.","type":{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}}]},"required":["count","results"]},"GwentapiPatch":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the patch","example":"Eum similique."},"id":{"type":"string","description":"Unique Patch ID","example":"Magni pariatur."},"releaseDate":{"type":"string","description":"Release date of the patch","example":"1972-06-28T12:27:41-04:00","format":"date-time"},"version":{"type":"string","description":"Patch version","example":"Vel earum est."}},"description":"A game patch (default view)","example":{"changelog":"Id est dicta occaecati ut.","href":"Eum similique.","id":"Magni pariatur.","releaseDate":"1972-06-28T12:27:41-04:00","version":"Vel earum est."},"required":["id","href","version","releaseDate"]},"GwentapiPatchCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.patch+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiPatch"},"description":"GwentapiPatchCollection is the media type for an array of GwentapiPatch (default view)","example":[{"href":"Eum similique.","id":"Magni pariatur.","releaseDate":"1972-06-28T12:27:41-04:00","version":"Vel earum est."}]},"GwentapiRarity":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Aperiam deleniti qui aperiam."},"id":{"type":"string","description":"Unique rarity ID","example":"Eveniet velit nihil totam quia quidem."},"name":{"type":"string","description":"Name of the rarity","example":"Laboriosam nobis excepturi dolorum quia."}},"description":"A card rarity (default view)","required":["id","href","name"]},"GwentapiRarityCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiRarity"},"description":"GwentapiRarityCollection is the media type for an array of GwentapiRarity (default view)","example":[{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."},{"href":"Aperiam deleniti qui aperiam.","id":"Eveniet velit nihil totam quia quidem.","name":"Laboriosam nobis excepturi dolorum quia."}]},"GwentapiRarityLink":{"title":"Mediatype identifier: application/vnd.gwentapi.rarity+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the rarity","example":"Aperiam deleniti qui aperiam."},"id":{"type":"string","description":"Unique rarity ID","example":"Eveniet velit nihil totam quia quidem."},"name":{"type":"string","description":"Name of the rarity","example":"Laboriosam nobis excepturi dolorum quia."}},"description":"A card rarity (default view)","required":["id","href","name"]},"GwentapiResource":{"title":"Mediatype identifier: application/vnd.gwentapi.resource+json","type":"object","properties":{"cards":{"type":"string","description":"API href for making requests on cards","example":"Quis fugit voluptatem error iure perferendis aut."},"factions":{"type":"string","description":"API href for making requests on factions","example":"Perspiciatis explicabo neque repellat."},"glyphs":{"type":"string","description":"API href for making requests on glyphs","example":"Recusandae at."},"patches":{"type":"string","description":"API href for making requests on patches","example":"Sit voluptatum nostrum."},"rarities":{"type":"string","description":"API href for making requests on rarities","example":"Possimus minus quo et non nulla."},"types":{"type":"string","description":"API href for making requests on types","example":"Ea quia voluptatibus neque esse."}},"description":"Listing of all available resource endpoint (default view)","example":{"cards":"Quis fugit voluptatem error iure perferendis aut.","factions":"Perspiciatis explicabo neque repellat.","glyphs":"Recusandae at.","patches":"Sit voluptatum nostrum.","rarities":"Possimus minus quo et non nulla.","types":"Ea quia voluptatibus neque esse."},"required":["cards","factions","glyphs","rarities","types","patches"]},"GwentapiType":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Dignissimos nemo nemo autem voluptatem."},"id":{"type":"string","description":"Unique type ID","example":"Laudantium eum sequi."},"name":{"type":"string","description":"Name of the type","example":"Voluptatum rerum natus rerum est earum sit."}},"description":"A card type (default view)","required":["id","href","name"]},"GwentapiTypeCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiType"},"description":"GwentapiTypeCollection is the media type for an array of GwentapiType (default view)","example":[{"href":"Dignissimos nemo nemo autem voluptatem.","id":"Laudantium eum sequi.","name":"Voluptatum rerum natus rerum est earum sit."}]},"GwentapiTypeLink":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json","type":"object","properties":{"href":{"type":"string","description":"API href for making requests on the type","example":"Dignissimos nemo nemo autem voluptatem."},"id":{"type":"string","description":"Unique type ID","example":"Laudantium eum sequi."},"name":{"type":"string","description":"Name of the type","example":"Voluptatum rerum natus rerum est earum sit."}},"description":"A card type (default view)","required":["id","href","name"]},"GwentapiTypeLinkCollection":{"title":"Mediatype identifier: application/vnd.gwentapi.type+json; type=collection","type":"array","items":{"$ref":"#/definitions/GwentapiType"},"description":"GwentapiTypeLinkCollection is the media type for an array of GwentapiTypeLink (default view)"},"artworkType":{"title":"artworkType","type":"object","properties":{"artist":{"type":"string","description":"Name of the artist","example":"Et non ipsum veritatis occaecati."},"full":{"type":"string","description":"Href to full size artwork","example":"Quia fugiat culpa."},"small":{"type":"string","description":"Href to thumbnail","example":"Consequatur necessitatibus aut rerum expedita impedit architecto."}},"description":"Type of card artwork","required":["full","small"]}},"responses":{"NotFound":{"description":"Not Found"},"OK":{"description":"OK","schema":{"$ref":"#/definitions/GwentapiArtwork"}}}}