[Unit]
Description=GwentAPI Service - Restful Gwent service
Requires=network.target
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/GwentAPI
ExecStart=/usr/local/bin/GwentAPI/gwentapi -daemon

[Install]
WantedBy=multi-user.target